/* Circle elements */
.c_h, .c_m {
    border-radius: 50% / 50%;
    position: absolute;
}

.c_h {
    background: hsl(0 100% 51%);
    border: 1px solid hsl(240 68% 94%);
    -webkit-box-shadow: inset 0 5px hsl(240 68% 94%);
    box-shadow: inset 0 5px hsl(0 100% 51%);
    height: 16px;
    width: 16px;
    left: 25px;
    top: 16px;
    z-index: 101;
}

/* Lights */
#lgs {
    height: 22px;
    width: 22px;
    position: absolute;
    left: 16px;
    top: 28px;
    z-index: 101;
}

.c_w_02 {
    height: 19px;
    width: 10px;
    right: 12px;
    top: 5px;
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-box-shadow: inset 2px 2px hsl(0 100% 51%);
    box-shadow: inset 2px 2px hsl(0 100% 51%);
}

/* Animations */
@-webkit-keyframes fly {
    0% { -webkit-transform: rotate(-20deg); transform: rotate(-20deg); }
    50% { -webkit-transform: rotate(-40deg); transform: rotate(-40deg); }
}

@keyframes fly {
    0% { -webkit-transform: rotate(-20deg); transform: rotate(-20deg); }
    50% { -webkit-transform: rotate(-40deg); transform: rotate(-40deg); }
}

@-webkit-keyframes cursorAnim {
    0% { -webkit-transform: scale(1); transform: scale(1); }
    to { -webkit-transform: scale(0.7); transform: scale(0.7); }
}

@keyframes cursorAnim {
    0% { -webkit-transform: scale(1); transform: scale(1); }
    to { -webkit-transform: scale(0.7); transform: scale(0.7); }
}

/* Cursor */
.cursor {
    height: 40px;
    width: 40px;
    position: absolute;
    pointer-events: none;
    z-index: 998;
    -webkit-animation: cursorAnim 1s infinite alternate;
    animation: cursorAnim 1s infinite alternate;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

/* Particle elements */
.c_p_01, .c_p_02 {
    background: hsl(0 100% 51%);
    border-radius: 50% / 50%;
    height: 3px;
    width: 3px;
    top: 18px;
    position: absolute;
    z-index: 104;
    -webkit-box-shadow: inset 0 1px #ff0505;
    box-shadow: inset 0 1px #ff0505;
}

.c_p_01 { left: 35px; }
.c_p_02 { left: 42px; }

/* Eye elements */
.c_e_01, .c_e_02 {
    background: #fff;
    border: 1px solid #000;
    border-radius: 50% / 50%;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 15px;
}

.c_e_01 {
    left: 28px;
    -webkit-box-shadow: inset 0.5px 3px #fc6;
    box-shadow: inset 0.5px 3px #fc6;
    z-index: 103;
}

.c_e_02 {
    left: 34px;
    -webkit-box-shadow: inset 1px 3px #fc6;
    box-shadow: inset 1px 3px #fc6;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    z-index: 102;
}

/* Mouth */
.c_m {
    background: hsl(240 68% 94%);
    -webkit-box-shadow: inset 0 1px hsl(240 68% 94%);
    box-shadow: inset 0 1px hsl(240 68% 94%);
    height: 3px;
    width: 3px;
    left: 37px;
    top: 27px;
    z-index: 104;
}

/* Body */
.c_b {
    background: hsl(0 100% 51%);
    border: 1px solid hsl(0 94% 24%);
    border-radius: 50% 50% 50% 50%;
    height: 19px;
    width: 26px;
    left: 12px;
    top: 17px;
    position: relative;
    z-index: 100;
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-box-shadow: inset -3px 7px hsl(338 100% 54%);
    box-shadow: inset -3px 7px hsl(0 100% 51%);
}

/* Wings */
.c_w_01, .c_w_02 {
    position: absolute;
    border-radius: 100px / 160px;
    background: hsl(0 100% 51%);
    border: 0.5px solid hsl(0 100% 51%);
    -webkit-animation: fly 0.1s ease infinite;
    animation: fly 0.1s ease infinite;
}

.c_w_01 {
    height: 15px;
    width: 9px;
    right: 3px;
    top: 6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}

.c_w_02 {
    height: 19px;
    width: 10px;
    right: 12px;
    top: 5px;
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}
